body {
	font-family: sans-serif;
	text-align: justify;
	background: url(/green_gradient.png);
}
h1, h2 {
	background: #fff;
	color: #000;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0;
}
h1 {
	font-family: serif;
}
h2 {
	font-style: italic;
}
div#body {
	background: #c9f0bb;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}
blockquote, div.code {
	background: #d8f0d6;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin-right: 4em;
	margin-left: 4em;
	padding: 0.5em;
	font-size: small;
}
div.code { font-family: monospace; }
div#body p, h3 {
	padding-right: 10px;
	padding-left: 10px;
}
div#links {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 2px;
	padding-bottom: 6px;
	background: black;
	color: white;
}
a, a:visited { color: #627a5f; }
a:active { color: #fff; }
div#links a, div#links a:visited { color: #fff; }
h1 a, h1 a:visited, h3 a, h3 a:visited { color: #000; text-decoration: none; }
h3 a:hover { text-decoration: underline; }
